html{
    background-color: rgb(224, 203, 219);
    margin: 0px;
    padding: 0%;
}
#titulo{
    font-size: 50px;
}
.sub-titulo{
    font-size: 25px;
}

div {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px solid crimson;
    overflow: hidden;
}
* {
    box-sizing:border-box;
}
.link {
    color:rgb(24, 23, 22);
}
.link:hover {
    color: brown;

}
.link:visited{
    color: red;

}
